<div class="row">
    <div class="col-md-3">
        <h2>My Heroes</h2>
        <ul class="list-group">
            <li *ngFor="let hero of heroes" class="list-group-item hero-element"
            [class.active]="hero === selectedHero"
            (click)="onSelect(hero)">
                <span>
                    <span class="badge">{{hero.id}}</span>
                    <span class="hero-name"> {{hero.name}} </span>
                </span>
                <button class="btn btn-danger btn-sm pull-right" (click)="deleteHero(hero, $event)">Delete</button>
            </li>
        </ul>
        <div class="error" *ngIf="error">{{error}}</div>
        <button (click)="addHero()">Add New Hero</button>
        <div *ngIf="addingHero">
            <my-hero-detail (close)="close($event)"></my-hero-detail>
        </div>
    </div>
    <div class="col-md-9">
        <div *ngIf="selectedHero">
            <h2>
            {{selectedHero.name | uppercase}} is my hero
            </h2>
            <button (click)="gotoDetail()">View Details</button>
        </div>
    </div>
</div>
